body {
  font-family: "Poppins", sans-serif;
}

h2 {
  color: #ec6e4c;
  font-weight: bolder;
  margin-bottom: 20px;
}

.status {
  font-size: 13px;
}

.weather-app {
  margin-top: 30px;
  margin-bottom: 20px;

  padding: 20px;
}

.weather-forecast-card {
  margin-top: 30px;
}

.weather-icons {
  font-size: 40px;
}

p {
  font-size: small;
}

.date-time,
.weather-status,
.categories {
  font-size: small;
}

.temperature-value {
  font-size: 45px;
  font-weight: bolder;
}

.temperature-value {
  font-size: 60px;
  font-weight: normal;
}

.location {
  font-size: 50px;
}

.btn {
  font-size: 10px;
  padding: 5px 16px;
  background-color: #ec6e4c;
  border: 2px solid #ec6e4c;
  transition-duration: 0.2s;
}

.btn:hover {
  background-color: white;
  color: #ec6e4c;
  border: 2px solid #ec6e4c;
}

.a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  text-align: left;
}

.weather-forecast {
  text-align: center;
}

.weather-forecast-date {
  font-size: 18px;
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 14px;
}

.weather-forecast-temp-min {
  opacity: 0.5;
}
